{% extends 'base.html' %}
{% load staticfiles %}

{% block one %}
<div id="contact">
    <div class="w3-modal-content w3-animate-zoom">
      <div class="w3-container w3-black">
          <h1>Fraud Reporting</h1>
       </div>
       <div class="w3-container">
         <p>Enter the suspected details of the individual you want to report:</p>
     <form style="color:black" class="form-horizontal" action="{% url 'fraud:report_fraud' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Enter AADHAR Number"></p>
      Upload Image: {{form.image}}
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Enter reason why you feel the individual is a fraud"></p>{{form.reason}}
      {{form.Amount}}
      <p><button class="w3-button" style="border:black 1px solid;" type="submit">Submit Details</button></p>
    </form>
</div>
{% endblock %}